* {
    margin: 0;
  }
  h1 {
    font-family: 'Roboto Mono', monospace; 
    font-size: 4.5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  
  body {
    font-size: small;
    padding-top: 2em;
    padding-bottom: 4em;
  }
  
  .text {
    color: #323232;
  }
  
  p {
    font-family: 'Roboto Slab', serif;
    line-height: 1.7;
    font-size: 1.1em;
  }
  
  .section {
    height: fit-content;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 2em;
    column-gap: 4em;
  }
  
  .chart-section {
    width: 70%;
    margin: auto;
  }

  .section > .chart-title {
    font-family: 'Roboto Mono', monospace; 
    font-size: 3em;
    font-weight: bold;
  }

  .section > .label {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
  }
  
  .section#title  {
    padding-top: 1em;
    text-align: center;
  }
  
  .section#shaded {
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 1em;
  }
  