* {
    margin: 0;
  }

  h1 {
    font-family: 'Roboto Mono', monospace; 
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-top: 1em;
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  body {
    font-size: small;
    padding-top: .25em;
    padding-bottom: .25em;

  }
  
  p {
    font-family: 'Roboto Mono', monospace; 
    line-height: 1.7;
    font-size: .8em;
    padding-top: 1em;
  }
  
  .section {
    height: fit-content;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 1em;
    padding-top:1em;
    column-gap: 1em;
  }
  
  .chart-section {
    width: 70%;
    margin: auto;
  }

  .section > .chart-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: bold;
  }

  .section > .label {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
  }

  .section > .text {
    font-family: 'Source Sans Pro', sans-serif;    
    line-height: 1.7;
    font-size: 1.2em;
  }
  
  .section#title  {
    padding-top: 1em;
    text-align: center;
  }
  
  .section#shaded {
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 1em;
  }

  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }

:root {
  --accent-color: red;
}

 path.line {
    fill: none;
    stroke: black;
    stroke-width: .5px;
  }

.annotation path {
  stroke: var(--accent-color);
  fill: none;
}

.annotation path.connector-arrow{
  fill: var(--accent-color);
}

.annotation text {
  fill: var(--accent-color);
}

.annotation-note-title {
  font-weight: bold;
}

.annotation.xythreshold {
  cursor: move;
}

.annotation.xythreshold .annotation-subject{
  stroke-width: .5px;
}

.annotation.badge path.subject-pointer, .annotation.badge path.subject {
  fill: var(--accent-color);
  stroke-width: 3px;
  stroke-linecap: round;
} 

.annotation.badge path.subject-ring {
  fill: white;
  stroke-width: 3px;
}

.annotation.badge .badge-text {
  fill: white;
  font-size: .7em;
}
    
rect.annotation-note-bg {
  fill: rgba(255, 255, 255, 0);
}

text.hover {
  font-size: .7em;
}
  